
/* Homepage - yellow tint background with bronw color for the letters.*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(85, 57, 42);
    background-color: hsl(38, 92%, 85%);
}

a:link{
    text-decoration: none;
}

.link{
    list-style-type: none;
    color: rgb(108, 73, 53);
}

/* Bellow is to have the bullet points as circles. */

.cheesecake-ingredients, 
.butter-chicken-ingredients,
.carbonara-ingredients {
    list-style-type: circle;
    text-align: center;
}

/* Center the link to home page and change its color */

.homepage{
    display: block;
    color: rgb(128, 23, 23);
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    border-style: groove;
    background-color: rgb(200, 184, 164);
} 

.cheesecake-steps,
.carbonara-steps,
.butter-chicken-steps{
    text-align: center;
}

